@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    display: grid;
    place-items: center;
    background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
    font-size: 1.6rem;
    height: 100vh;
}

body, button, input {
    font-family: 'DM Sans', sans-serif;
}

button {
    background-color: #7879F1;
    color: #FFF;
    font-weight: 700;
    border-radius: 0 .4rem .4rem 0;
    cursor: pointer;
    transition: background .3s;
}

button:hover {
    background-color: #6363CE;
}

.hide {
    display: none;
}

main {
    text-align: center;
    width: min(42.8rem, 90%);
    padding: 4.8rem 6.4rem 6.4rem;
    border-radius: .6rem;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.10);
    margin-top: -12rem;
    background-color: #FFF;
}

/* Screen 1 */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}

h1, p {
    color: #34355B;
}

p {
    opacity: .8;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 4.8rem;
}

input, button {
    border: none;
    padding: 1.6rem;
}

input {
    width: 5rem;
    background-color: #DCE2E9;
    border-radius: .4rem 0 0 .4rem;
}

/* Screen 2 */
h2 {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3.3rem;
}

.screen2 button {
    border-radius: .4rem;
}