body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin: 0;
}

#hero {
    width: 592px;
    margin: 0 auto 72px;
}

#hero img {
    margin-bottom: 72px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}

span, a {
  color: #ff9900;
}

p {
  color: #7d7987;
}

#footer {
  margin-bottom: 33px;
}

#footer a + a {
    margin-left: 28px;
}

.line {
    width: 568px;
    height: 0;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}