@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
    min-height: 100vh;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

ul {
    display: flex;
    list-style: none;
    gap: 48px;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

a {
    color: #1f1534;
    text-decoration: none;
}

ul li a {
    opacity: 0.5;
}

ul li a:hover {
    font-weight: 700;
    opacity: 1;
}

h1, ul {
    font-family: 'Mulish', sans-serif;
}

h1 {
    font-size: 49px;
    font-weight: 400;
    line-height: 56px;
    color: #1f1534;
}

h1 span {
    color: #89c5cc;
    font-weight: 700;
}

section p {
    font-size: 14px;
    line-height: 28px;
    color: #7d7987;
    margin: 40px 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 14px 32px 15px;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #F9F9F9;
    background-color: #69B99D;
}

button:hover {
    background-color: #4ea788;
}

footer {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

footer a {
    font-weight: 700;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}