@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin: 0;
}

#hero {
    margin: 0 auto 72px;
    width: 592px;
}

#hero img {
    margin-bottom: 72px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: 400;
    margin-bottom: 32px;
}

h1 span {
    font-weight: 700;
}

span, a {
    color: #FF9900;
}

p {
    color: #7d7987;
}

#footer {
    margin-bottom: 33px;
}

#footer a + a {
    margin-left: 28px;
}

.line {
    width: 568px;
    height: 0px;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;
}

#balls {
    position: fixed;
    bottom: 0px;
    right: 0px;
}